#addItemButton {
  background-color: rgba(196, 196, 196, 255);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left:20px;
  padding-right:20px;
  margin-top: 100px;
  font-size:x-large;
}

input[type=submit] {
width: 100%;
background-color: #0e2d68;
color: rgb(0, 0, 0);
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
color: #ffffff;
}
input[type=text],input[type=number],select
{
  width: 100%;
  padding: 12px 20px;
  height: auto;
  margin: 8px 0;
  color:black;
  display: inline-block;
  background-color: rgb(182, 175, 175);
  border: 1px solid rgb(16, 82, 126);
  border-radius: 4px;
  box-sizing: border-box;
}
label,h1{
background-color: #ffffff;
}
.modal-body
{
background-color:#ddd;
color:black;
}
input[type=submit]:hover {
background-color:rgba(9, 20, 66, 0.349);
}
  table, th, td 
  {
  table-layout: auto;
  text-align: center;
  border:none;
  }
  th, td 
  {
    padding-top: 15px;
    border-bottom: 1px solid #ddd;
    font-size:x-large;
  } 
  td:hover {background-color: coral;}
  tr:nth-child(even){background-color:rgb(31, 31, 100);color: #ffffff;}
  
  th 
  {
    background-color: #365aa7;
    color: #ffffff;  
  }