<div class="col-md-6 offset-md-3">
    <h3> Update Employee </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> themeName</label>
            <input type="text" class ="form-control" id = "themeName"
                [(ngModel)] = "theme.themeName" name = "themeName" required #fullNameControl="ngModel">
                <span class="help-block"
            *ngIf="fullNameControl.invalid && fullNameControl.touched">
            Theme Name is required:
          </span>
        </div>
    
        <div class="form-group">
            <label>themeImageURL </label>
            <input type="text" class ="form-control" id = "themeImageURL"
                [(ngModel)] = "theme.themeImageURL" name = "themeImageURL" required #fullNameControl="ngModel">
                <span class="help-block"
            *ngIf="fullNameControl.invalid && fullNameControl.touched">
            Theme Name is required:
          </span>
        </div>
    
        <div class="form-group">
            <label>themeDescription</label>
            <input type="text" class ="form-control" id = "themeDescription"
                [(ngModel)] = "theme.themeDescription" name = "themeDescription" required #fullNameControl="ngModel">
                <span class="help-block"
            *ngIf="fullNameControl.invalid && fullNameControl.touched">
            Theme Name is required:
          </span>
        </div>

        <div class="form-group">
            <label>themePhotographer</label>
            <input type="text" class ="form-control" id = "themePhotographer"
                [(ngModel)] = "theme.themePhotographer" name = "themePhotographer" required #fullNameControl="ngModel">
                <span class="help-block"
            *ngIf="fullNameControl.invalid && fullNameControl.touched">
            Theme Name is required:
          </span>
        </div>

        <div class="form-group">
            <label>themeVideographer</label>
            <input type="text" class ="form-control" id = "themeVideographer"
                [(ngModel)] = "theme.themeVideographer" name = "themeVideographer" required #fullNameControl="ngModel">
                <span class="help-block"
            *ngIf="fullNameControl.invalid && fullNameControl.touched">
            Theme Name is required:
          </span>
        </div>

        <div class="form-group">
            <label>themeReturnGift</label>
            <input type="text" class ="form-control" id = "themeReturnGift"
                [(ngModel)] = "theme.themeReturnGift" name = "themeReturnGift" required #fullNameControl="ngModel">
                <span class="help-block"
            *ngIf="fullNameControl.invalid && fullNameControl.touched">
            Theme Name is required:
          </span>
        </div>

        <div class="form-group">
            <label>themeCost</label>
            <input type="text" class ="form-control" id = "themeCost"
                [(ngModel)] = "theme.themeCost" name = "themeCost" required #fullNameControl="ngModel">
                <span class="help-block"
            *ngIf="fullNameControl.invalid && fullNameControl.touched">
            Theme Name is required:
          </span>
        </div>
        <br>
        <br>
        <button class = "btn btn-success"  [disabled]="!theme.themeName || !theme.themeVideographer || !theme.themeImageURL 
        || !theme.themeReturnGift || !theme.themePhotographer || !theme.themeCost || !theme.themeDescription " type ="submit">Submit</button>
    
    </form>
    </div> 