<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="form">
    <form (ngSubmit) = "onSubmit()">
      <h3>Are you sure deleting this {{theme.themeName}} theme ??</h3>
      <br>
      <br>
     <fieldset>
      <div class="btn-toolbar">
      <button  (click) = "deleteTheme(theme.themeId)" class = "btn btn-info " id="delete" type ="submit"> Yes</button>
      <button (click) = "goToThemeList()" class = "btn btn-info" id="No"> No</button>
      </div>  
    </fieldset>
    </form>
  </div>
    </body>