<div id="abc" class="nav">
  <a href="" id="XYZ">Business Meet Event</a>
  <a href="" id="adminTheme">Theme</a>
  <a href="" id="adminFoodMenu">Food Menu</a>
  <a href="" id="adminAddOns">Add Add-ons</a>
  <a href="#" id="logout" routerLink="/login" routerLinkActive="active">Logout</a>
</div>
  <body>
    <div class="form">
    <form (ngSubmit) = "onSubmit()">
      <h3>Are you sure deleting this {{theme.themeName}} theme ??</h3>
      <br>
      <br>
      <div class="container">
        <div class="row">
          <div class="col">
      <button  (click) = "deleteTheme(theme.themeId)" class = "btn btn-info " id="delete" type ="submit"> Yes</button>
      </div>
      <div class="col">
      <button (click) = "goToThemeList()" class = "btn btn-info" id="No"> No</button>
      </div> 
      </div>
      </div>


    </form>
  </div>
    </body>