#XYZ {
  text-decoration: none;
  margin-right: 40px;
  color: #ffffff;
  
  position: relative;
  left: 10px;
  bottom: 5px;
}
#adminTheme {
  text-decoration: none;
  margin-right: 50px;
  color: #ffffff;
  font-size: 20px;
}
#adminFoodMenu {
  text-decoration: none;
  margin-right: 50px;
  color: #ffffff;
}
#adminAddOns {
  text-decoration: none;
  margin-right: 50px;
  color: #ffffff;
}
#logout {
  text-decoration: none;
  color: #ffffff;
  position: absolute;
  right: 40px;
}
#adminFoodMenu:hover {
  font-size: 25px;
}
#adminAddOns:hover {
  font-size: 25px;
}
#adminTheme:hover {
  font-size: 25px;
}
#logout:hover {
  font-size: 25px;
}
.nav {
  background-color: #0068c9;
  padding-top: 20px;
  padding-bottom: 5px;
}
body {
   
    background: linear-gradient(135deg, #1246648c, #1246648c);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
.col-md-4{
  padding-top: 1%;
  background: linear-gradient(135deg, #1246648c, #1246648c);
}
.form{
width: 320px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  background-color: white;
}
.btn btn-info{
  padding-left: 15px;
  border-radius: 5px;
  
}
#delete,
#No{
    display: inline-block;
    vertical-align: top;
}