p {
    font-family: Lato;
  }
  #Login {
    width: 90vh;
    border: 3px solid black;
    margin: 30px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  Button {
    color: white;
    font-size: large;
    width: 25vh;
    height: 8.5vh;
    padding-top: 0.2vh;
    margin-left: 1vh;
    margin-right: 0.7vh;
    background: linear-gradient(
      -90deg,
      rgba(60, 115, 147, 255),
      rgba(0, 71, 113, 255)
    );
  }
  h1 {
    background-color: rgba(68, 0, 1, 255);
    color: white;
    border: 3px solid black;
    border-spacing: 5vh;
    padding-left: 15vh;
    padding-right: 20vh;
    margin: 5vh;
  }
  div {
    background-color: rgba(212, 192, 201, 255);
    padding-left: 1vw;
  }
  input {
    border: 3px thick black;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    background: linear-gradient(-150deg, rgba(212, 192, 201, 255), white);
  }
  .invalid-feedback{
  color: red;
  }