<div class="container mt-5">
    <div class="card" mt="5" style="align-items: center">
        <h1>Add Item</h1>
    </div>
    <div class="card mt-5" style="padding:20px">
        <form [formGroup]="additemform" (ngSubmit)="addItem(additemform)">
            <div class="form-group">
                <label for="itemimage" >Enter Item Url:</label>
                <input formControlName="itemimage" type="text" #itemimage (ngModel)="itemimage" name="itemimage" id="itemimage" class="form-control" placeholder="Enter Item url">
                <small *ngIf="additemform.get('itemimage').invalid && additemform.get('itemimage').touched" class="text-danger">Image Url is required</small>
            </div>
            <div class="form-group">
                <label for="itemname" >Enter Item Name:</label>
                <input formControlName="itemname" type="text" #itemname (ngModel)="itemname" name="itemname" id="itemname" class="form-control" placeholder="Enter Item Name">
                <small *ngIf="additemform.get('itemname').invalid && additemform.get('itemname').touched" class="text-danger">Item name is required</small>
            </div>
            <div class="form-group">
                <label for="itemcategory" >Enter Item category:</label>
                <input formControlName="itemcategory" type="text" #itemcategory (ngModel)="itemcategory" name="itemcategory" id="itemcategory" class="form-control" placeholder="Enter Item category">
                <small *ngIf="additemform.get('itemcategory').invalid && additemform.get('itemcategory').touched" class="text-danger">Item category is required</small>
            </div>
            <div class="form-group">
                <label for="price" >Enter Item price:</label>
                <input formControlName="price" type="number" #price (ngModel)="price" name="price" id="price" class="form-control" placeholder="Enter Item price">
                <small *ngIf="additemform.get('price').invalid && additemform.get('price').touched" class="text-danger">Item price is required</small>
            </div>
            <div class="form-group mt-3">
                <input [disabled]="additemform.invalid" type="submit" value="Add Item" class="btn btn-primary w-100">
            </div>
            <div class="form-group mt-5">
                <input routerLink="/admin/foodmenu" type="submit" value="Back to Menu page" class="btn btn-primary w-100">
            </div>

        </form>
    </div>
</div>
<div class=" container mt-5">
    <table class="table table-bordered">
      <thead class="thead">
        <tr>
          <th>Item Image</th>
          <th>Item name</th>
          <th>Item category</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let item of itemdetails">
            <td>{{item.itemimage}}</td>
            <td>{{item.itemname}}</td>
            <td>{{item.itemcategory}}</td>
            <td>{{item.price}}</td>
        </tr>
      </tbody>
    </table>
  </div>